
<div class="post-wrap">
  <% @posts.each do |post| %>
    <div class="post-box">
      <p class="post-date"><%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>

      <h4 class="post-heading">好きなカラオケのジャンル（またはよく歌うカラオケのジャンル）</h4>
      <p class="post-content"><%= post.genre %></p>

      <h4 class="post-heading">記入欄</h4>
      <p class="post-content"><%= post.message %></p>

      <h4 class="post-heading">写真</h4>
      <% if post.photo.attached? %>
        <%= image_tag(post.photo) %>
      <% end %>
    </div>
    <hr class="post-hr">
  <% end %>
</div>